@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');
@font-face {
    font-family: 'Klarinda Playful Personal';
    src: url('../fonts/Klarinda Playful Personal.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

body.login {
    background-image: url('../recursos/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body.login::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(5, 5, 5, 0.57);
    z-index: 0;
}